-content_for :full_width_content do
  =render "onboardings/step_guide_bar", step: 2

.onboarding__step-section{ 'data-section-id' => 2}
  .onboarding__step-section-heading
    Let us know what time of the day you're around
  =form_tag onboardings_path do
    .onboarding__form-group
      .onboarding__form-label
        Test Field Two
      .form-group
        =text_field_tag "onboarding[test_field_2]", get_session_val("test_field_2"), class: 'form-control input-lg', placeholder: 'e.g. test field 2'

    =hidden_field_tag "step_id", 2
    .form-group.center
      =button_tag "Continue", class: 'btn-tv onboarding__continue-btn', data: { disable_with: disable_with() }
