.title_xl Confirmation/ Auto Cancellation
%P After a customer books, the provider must give an official confirmation of the booking for it to take place.
%p The provider will be prompted at their dashboard to do so, or can go to their bookings listing page (icon in header) to confirm or reject the booking.
%p If the provider does not confirm the booking, it will auto expire and automatically initiate a cancellation and refund for the customer. The time window for confirming is as follows:
.margin-left-20px
  %p If the booking starts within 1-2 days, you will have 12 hours to confirm the booking
  %p If the booking is within 2-3 days, you will 24 hours to confirm the booking
  %p If the booking is later than 3 days away, you will have 48 hours to confirm it.
