.title_xl Search Visibility
%p Getting booked depends on visibility in searches. Certain actions help or hurt your discoverability, and we have an algorithm that takes in a number of criteria.
%p Last minute cancellations of bookings that you already confirmed will hurt you the most. (please talk to us if it was a serious situation)
%p Rebooking, i.e. getting returning customers, is the strongest factor in making you visible. We highly encourage rebookings.
%p The volume of bookings and any positive reviews received will also help you (note, we look at all reviews, and will reach out to you to get both sides of the story if something overtly negative is said).
