.policies_main{ style: 'margin-bottom: 30px'}
  .mega_title Policies, Info for Providers

  %i More generic policies are listed towards the bottom under "Policies, General Info"

  .title_small#obligations_provider Your Obligations
  %p You are required to confirm a booking if you want to accept it. You have a window of time to confirm it before it expires (read more below under "Confirmation & Auto-Cancellation").
  %p You are required to stay at the meetup location for at least 1 hour if the customer does not show.
  %p="If you are running more than 20 minutes late, please contact us ASAP <a href='mailto:support@offlinedating.io' target='_blank'>(support@offlinedating.io) </a>and we will notify the customer. We figure lateness should be rare on your part, since you chose the locations and should know how to get there easily, parking situations, etc.".html_safe
  %p After a paid booking, the customer will have a means of contacting you directly, based on the contact method you elect in your profile. This is to help resolve last minute logistics issues.
  %p Please keep your schedule up to date. It's OK if you have one-off conflicts, e.g. appointment, date, weekend trip... you can always reject the booking and suggest an alternate time to the customer... but if you'll be gone for the next 3 weeks, you may want to put your account on hiatus (on your "Accounts" page).

  .title_small#discoverability_policy Getting Booked & Search Visibility
  %p Getting booked depends on visibility in searches. Certain actions help or hurt your discoverability, and we have an algorithm that takes in a number of criteria.
  %p Last minute cancellations of bookings that you already confirmed will hurt you the most. (please talk to us if it was a serious situation)
  %p Rebooking, i.e. getting returning customers, is the strongest factor in making you visible. We highly encourage rebookings.
  %p The volume of bookings and any positive reviews received will also help you (note, we look at all reviews, and will reach out to you to get both sides of the story if something overtly negative is said).

  .title_small#payouts_policy Payouts
  %p You will be paid within 5 business days after a booking is complete, if there are no disputes.
  %p Right now, payouts are done via Paypal.
  %p We will prompt you for your Paypal email when you are ready to publish your profile, or you can enter it on your "Account" page at any time.
  %p Importantly, you can still accept bookings without giving us payment information, and we will hold onto your earnings until you do. Once you give us your Paypal email, we will immediately send you your earnings.



  .title_small Booking Dates and Times
  %p Customers can book you up to 6 weeks in advance
  %p For now bookings must be at least 24 hours out from the present.
  %p We automatically provide "padding" between booking times, so you are guaranteed to have at least a half hour between consecutive bookings.
  %p It's OK if you have one-off conflicts, e.g. appointment, date, weekend trip... you can always reject the booking and suggest an alternate time to the customer... but if you'll be gone for the next 3 weeks, you may want to put your account on hiatus (on your "Accounts" page).
  %p We are working on a feature to give more granular control over your schedule.

  .title_small#confirmations_policy Confirmation/ Auto Cancellation
  %P After a customer books, the provider must give an official confirmation of the booking for it to take place.
  %p The provider will be prompted at their dashboard to do so, or can go to their bookings listing page (icon in header) to confirm or reject the booking.
  %p If the provider does not confirm the booking, it will auto expire and automatically initiate a cancellation and refund for the customer. The time window for confirming is as follows:
  .margin-left-20px
    %p If the booking starts within 1-2 days, you will have 12 hours to confirm the booking
    %p If the booking is within 2-3 days, you will 24 hours to confirm the booking
    %p If the booking is later than 3 days away, you will have 48 hours to confirm it.

  .title_small#profile_policy Profiles
  %p Provider profiles are subject to approval from the OfflineDating team. We are mainly looking out for obscenity or hateful speech. Pornographic or distasteful profile pictures are not allowed either.
  %p If there is an issue, we will alert you of it by email and you can submit a fix.
  %p Again, no obscenity or hateful speech is tolerated in the profiles, and could result in a banning from our platform.
  %p You are asked to provide contact info, either an email of your choice or a phone number, in case the customer has logistics issues and needs to contact you quickly. This information will only be shown after the customer has paid for a booking.
  %p You should provide minimal instructions to the customer, even if just "have fun!". You may want them to have eaten first, or to dress a certain way. These instructions will only be shown after the customer has paid for a booking.


  .title_small Meetup Locations
  %p The customer will only see the meetup location after they have paid for a booking.
  %p Meetup locations cannot be private residences, and must be public places (just places where the general public has access, private or publicly owned.). Coffee shops, bars, restaurants, landmarks, an event are all fine meetup locations.

  .title_small Your Rate
  %p Providers can elect to be paid at an hourly rate, or to only charge "beers". "Charging beers" just means the customer should buy you drinks or coffee as you go along, but there is no official obligation to do so.
  %p Providers can select whatever hourly pay rate they want, but it must be at least $5/ hour.

  .title_small Privacy
  %p None of your personal information (information outside of your public profile) is ever shared with the customer.
  %p The contact method you elect in your profile is the one line the customer has to you. It can be any email you wish or phone number.

  .title_small Reviews
  %p Customer have a week to write a review if they wish to.
  %p We will not post a review publicly until we've had a chance to look at it, and sorted out any issues with both parties if there is something unfairly disparaging in it.
  %p The review also includes a rating which is visible with your profile. The rating is subject to the same process as the reviews.




  %hr

=render "static_pages/general_policies"