%p="Hi #{@name_provider} and #{@name_customer},"

%p
  You both have an upcoming bookable_asset together, and this is an intro email to make sure you are connected.

%p
  If there are any crossing of t's and dotting of... j's to take care of before the bookable_asset starts, be sure to chat about it (or chat with us, and we can help).

%p
  If you haven't already, be sure to familiarize yourself with our
  =link_to "policies page,", policies_path
  and for any questions, concerns, of things that may need to involve use, make sure to message us at
  =link_to "support@monkey.com", "mailto:support@monkey.com", target: '_blank'

%p
  Best,
  %br
  Monkey Team
