.landing-page__onboarding-cta-container
  .landing-page__onboarding-teaser
    Try out the onboarding flow feature

  =link_to onboardings_path do
    .landing-page__onboarding-button.btn-tv
      Preview Onboarding
