.jobs
  .mega_title Jobs

  %h3 Position
  %p Master Coder
  %h3 Requirements
  %p 7 years of Node.js
  %p 1 year of jQuery
  %p Brazilian or Japanese Citizenship

  %h3 Salary
  %p Enough

  =button_to "Apply", "#", style: 'margin-top: 20px', onclick: "alert('Congratulations. Please click OK to accept the job.'); return false;"



