.title_xl Get Alerted
%p On your dashboard you can opt in or out to email alerts for incidents.
%p Incidents are defined as: your app is sleeping when it's supposed to be awake, we cannot reach your app, any 400 or 500 level response.
%p You will send you at most one email per day while the problem persists.
