.title_xl Geographic Compatibility
%p You can be from anywhere to use BirthdayTextAlerts
%p Switzerland or Seychelles, we'll text you and remind you of your friend's birthday.
%p
  We probably accept your CC regardless of your country, thanks to
  =link_to "Stripe", "https://stripe.com"
  who handles our payments backend. We also have BTC support coming soon.
