.title_xl Grandfathering
%p You are looking at BirthdayTextAlerts in the early stages.
%p It would be nice to offer more features, and we will work on said features as more people sign up. To thank you for being an early adopter, it's our policy to grandfather early users into any new services.
%p We welcome your feedback if there's something you want to see... Mother's Day Alerts? WhatsApp integration?
