.title_xl Pinging & Monitoring
%p We ping your site every 5 minutes with an HTTP GET to the endpoint of your choice.
%p We run a sophisticated cluster of workers in parallel to make sure our ping times are consistent and predicatbale.
%p Even if your app does not sleep, you can still use this service for monitoring. Specify 'no sleep' when creating your checks.
%p
  You can opt in on your dashboard to get immediate alerts for any incidents: your site goes down, we cannot reach it, or it returns any 400 or 500 level response. Read about
  =link_to "alerting", policies_alerts_path
  to learn more.
%p
  We hope to have more general uptime monitoring features, because we use them on our apps anyways. Know that you'll be
  =link_to "grandfathered", policies_grandfathering_path
  into any new such services.
