.title_xl Sleep Control
%p You can specify any sleep time when you add your checks on your dashboard.
%p This includes the start time, number of hours, and the timezone you desire the sleeping for.
%p
    On your dashboard you can opt into email alerts when your app sleeps when it shouldn't. This can be a problem if you have demos, for example. Read about
    =link_to "alerting", policies_alerts_path
    to learn more.
