.title_xl Bootcamp Information
%p Participants submit applications for bootcamps they are interested in. They submit answers to a few basic questions as well as their Linkedin profile.
%p Providers decide who they want to book with, review applications in their dashboard, and either click "Accept" or "Reject." Providers have 48 hours to make a decision or the bootcamp auto-expires.
%p Bootcamps marked as "Rolling" means the participant, or both you and the participant, can work out the exact start date. Even so, the start date still has to fall within on the day(s) of the week for your bootcamp (e.g. A "Saturdays Rails Bootcamp" has to start on a Saturday).
%p Participants will mark whether they are "Flexible" with dates. That means even if you cannot start on their application's proposed start date, you should accept the application anyways, so that you and he or she can decide on a start date together.
%p Providers can mark whether they are flexible with location when they set the location of their Bootcamp. You can always narrow down the exact location with the participant after the participant has booked.
%p Participants can reach out to providers via an internal chat feature. We'll alert you by email, and you can either login to respond, or respond via a link sent in the email that requires no login.
%p Bootcamps can only start as soon as 48 hours from the time the application is submitted.
%p You and the participant will be formally introduced and contact information shared, after you officially accept the application of the participant.
