%h1 You're Now Published!

%p="Hi #{@profile.full_name},"
%p="You are now published and fully visible to anyone searching for a provider. Get ready for some bookings/money/etc.!"

%p Boilerplate boilerplate instructions

%h3 Relevant Policies
%p="If you aren't familiar with boilerplate bolierplate policies, #{link_to 'Please read up on relevant policies', policies_provider_url}".html_safe

%p="Best, <br /> The Boilerplate Folks".html_safe