-view_css :icon_sets_2

#use_cases2
  .use-cases__heading
    .use-cases__title
      Why?
    .use-cases__subtitle
      Because meeting people in-person is organic. Use it for:
  .row.use-cases__icon-set-container
    .col-sm-4.col-md-2.col-sm-offset-1.col-xs-6
      .icon-text{ style: 'padding-top: 20px;'}
        .icon=image_tag "use-case-hookup.png", height: 30
        .text Hookups and SO's
    .col-sm-4.col-md-2.col-xs-6
      .icon-text
        .icon=image_tag "use-case-testobj4.gif", height: 60, style: 'margin-bottom: -10px'
        .text New to the City
    .clearfix.visible-xs-block
    .col-sm-4.col-md-2.col-xs-6
      .icon-text
        .icon=image_tag "use-case-longterm.png", height: 50
        .text Out of Long Term Relationship
    .col-sm-4.col-md-2.col-xs-6
      .icon-text
        .icon=image_tag "use-case-testicon18.png", height: 80, style: 'margin-bottom: -26px !important'
        .text more Friends
    .clearfix.visible-xs-block
    .col-sm-4.col-md-2.col-xs-6
      .icon-text{ style: 'padding-top: 20px;'}
        .icon=image_tag "use-case-travel.png", height: 40
        .text Traveling as Tourist
