.box_shaded_simple{ style: 'margin-bottom: 30px'}
  .color_alt_red_link
    %b.faded.fourtn Inquiry about
    =link_to "Thingie interested in Whatever App Does", "#", class: 'fourtn'
  .faded-more.fourtn
    =#conversation.bootcamp_display_date
    August 15, 2015
    \-
    %b Six weeks
    \-
    =iconf('user')
    \-
    %b $4.00
  .faded-more.fourtn
    =iconf('map-marker')
    WorkShop Cafe, San Francisco
