.the_basics
  .row
    .col-xs-8.col-sm-4
      .profile_meta{ style: 'text-align:right'}
        .row
          .col-xs-12
            .header_with_span
              .header{ style: 'display:block'}
                =profile.full_name
        .row
          .col-xs-12
            =profile_image_small2 profile
        =render "profiles/profile_meta", profile: profile

    .col-xs-12.col-sm-6
      =render "users/account_display"


