-profile_step = {link: new_user_profile_path(current_user), content: 'Create a Profile' }
-bootcamp_step = {link: "#bootcamps", content: 'Create an Asset'}
-approval_step = {link: "#approved", content: "Publish"}

=steps_left_box("<b>3</b> <span>Steps Left</span>", step1: profile_step, step2: bootcamp_step, step3: approval_step)

