.splash__menu-section--frontend
  .splash__menu-section-heading
    .splash__menu-section-title
      Choose Template/ Theme
    .splash__menu-section-subtitle
      Click on preferred template/ theme

  .splash__menu-section-menu-items
    .row
      .col-sm-10.col-sm-offset-1
        .splash__menu-section-type
          Summary Cards - All Sorts (Pick 1)
        .row
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-summary-card-type' => 1 do
              Summary Cards 1 (TravelDating)
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-summary-card-type' => 2 do
              Summary Cards 2 (CodeInPerson) (DONT PICK, PICK DEFAULT)
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-summary-card-type' => 3 do
              Summary Cards 3 (Sprig/ Craftsmansave)
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-summary-card-type' => 4 do
              Summary Cards 4 (Kickstarter)
        .row
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-summary-card-type' => 5 do
              Summary Cards 5 (TradingView)
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-summary-card-type' => 0 do
              Default CodeInPerson Style

        .splash__menu-section-type
          Don't know why this is here
        .row
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item' do
              Splash Page Cards 1 (V1 Basic)

        .splash__menu-section-type
          Splash Page Cards - Profile/ Product/ Course/ Form etc. (Pick 1)
        .row
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-splash-page-type' => 1 do
              Splash Page Full 1 (Kickstarter)
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-splash-page-type' => 2 do
              Splash Page Full  2 (Buildzoom)
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-splash-page-type' => 3 do
              TravelFlings basic profile
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-splash-page-type' => 4 do
              Sharedesk map/ list toggle (TODO - OR just format?)
        .row
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-splash-page-type' => 5 do
              Splash Page Full 5 (Udacity?)
          .col-sm-3
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-splash-page-type' => 0 do
              Default CodeInPerson Style
