.splash__menu-section--backend
  .splash__menu-section-heading
    .splash__menu-section-title
      Choose your Backend
    .splash__menu-section-subtitle
      Click on type of app

  .splash__menu-section-menu-items
    .row
      .col-sm-10.col-sm-offset-1
        .splash__menu-section-type
          TODO categorize by types of apps (dating, marketplace, sas etc.)
        .row
          .col-sm-12
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-backend-type' => 1 do
              Auth - Dashboard Vertical App Bar - Search with Splash - Profile - Conversations - Soft Approval - Checkout Subscription Stripe & Paypal
          .col-sm-12
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-backend-type' => 2 do
              Auth - Onboarding Flow - Dashboard Vertical App Bar - Search with Splash - Profile - Conversations - Soft Approval - Checkout Subscription Stripe & Paypal
          .col-sm-12
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-backend-type' => 3 do
              Auth - Profile with First Visit - Hard Approval - City - Bookable Asset - Booking Request - Reviews - Accounts - Checkout Stripe & Paypal
          .col-sm-12
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-backend-type' => 4 do
              Auth - Onboarding Flow - Dashboard Vertical App Bar - Search with Splash - Map View - Profile - Conversations - Soft Approval - Checkout Subscription Stripe & Paypal
          .col-sm-12
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-backend-type' => 5 do
              Auth - Dashboard - Checkout Subscription Stripe Paypal
          .col-sm-12
            =link_to "#", class: 'splash__menu-section-menu-item', 'data-backend-type' => 6 do
              Single Page Most Basic
