.splash__menu-section
  .splash__menu-section-heading
    .splash__menu-section-title
      Choose your Landing Page
    .splash__menu-section-subtitle
      Preview and work on templates here

  .splash__menu-section-menu-items
    .row
      .col-sm-10.col-sm-offset-1
        .splash__menu-section-type
          Full Themes
        .row
          .col-sm-3
            =link_to full_theme_1_path, class: 'splash__menu-section-menu-item' do
              Full Theme 1 (Tilt)
          .col-sm-3
            =link_to full_theme_2_path, class: 'splash__menu-section-menu-item' do
              Full Theme 2 (Gigster)
          .col-sm-3
            =link_to full_theme_3_path, class: 'splash__menu-section-menu-item' do
              Full Theme 3 (Abacus)
          .col-sm-3
            =link_to full_theme_4_path, class: 'splash__menu-section-menu-item' do
              Full Theme 4 (GoCardless)

        .row
          .col-sm-3
            =link_to full_theme_5_path, class: 'splash__menu-section-menu-item' do
              Full Theme 5 (OneLogin)
          .col-sm-3
            =link_to full_theme_6_path, class: 'splash__menu-section-menu-item' do
              Full Theme 6 (TransferWise)
          .col-sm-3
            =link_to full_theme_7_path, class: 'splash__menu-section-menu-item' do
              Full Theme 7 (Preact)
          .col-sm-3
            =link_to full_theme_8_path, class: 'splash__menu-section-menu-item' do
              Full Theme 8 (Cozy)
        .row
          .col-sm-3
            =link_to full_theme_9_path, class: 'splash__menu-section-menu-item' do
              Full Theme 9 (Invision)
          .col-sm-3
            =link_to full_theme_10_path, class: 'splash__menu-section-menu-item' do
              Full Theme 10 (Coinbase - TODO)
          .col-sm-3
            =link_to full_theme_11_path, class: 'splash__menu-section-menu-item' do
              Full Theme 11 (The Black Tux - Fashion-y sites)

        .splash__menu-section-type
          Headers
        .row
          .col-sm-3
            =link_to gradient_img_1_path(header_template: 'condensed_text'), class: 'splash__menu-section-menu-item' do
              Condensed Text
          .col-sm-3
            =link_to gradient_img_1_path(header_template: 'seperator'), class: 'splash__menu-section-menu-item' do
              Seperator
          .col-sm-3
            =link_to gradient_img_1_path(header_template: 'streak_and_hover'), class: 'splash__menu-section-menu-item' do
              Streak and Hover
          .col-sm-3
            =link_to gradient_img_1_path(header_template: 'with_dropdowns'), class: 'splash__menu-section-menu-item' do
              Dropdowns
          .col-sm-3
            =link_to gradient_img_1_path(header_template: 'with_dropdowns_slideoutmenu'), class: 'splash__menu-section-menu-item' do
              Dropdowns Slideout Menu

        .splash__menu-section-type
          Core Splash Types
        .row
          .col-sm-3
            =link_to gradient_img_1_path, class: 'splash__menu-section-menu-item' do
              Gradient Image 1
          .col-sm-3
            =link_to carousel_1_path, class: 'splash__menu-section-menu-item' do
              Carousel 1
          .col-sm-3
            =link_to screenshot_gradient_1_path, class: 'splash__menu-section-menu-item' do
              Screenshot Gradient 1
          .col-sm-3
            =link_to video_1_path, class: 'splash__menu-section-menu-item' do
              Video 1

        .splash__menu-section-type
          Icon Sets
        .row
          .col-sm-3
            =link_to icon_sets_1_path, class: 'splash__menu-section-menu-item' do
              Basic Flat 3
          .col-sm-3
            =link_to icon_sets_2_path, class: 'splash__menu-section-menu-item' do
              Compact Flat 5


        .splash__menu-section-type
          Stacks
        .row
          .col-sm-3
          .col-sm-3

        .splash__menu-section-type
          How Works
        .row
          .col-sm-3
            =link_to how_works_1_path, class: 'splash__menu-section-menu-item' do
              How Works 1
          .col-sm-3
            =link_to how_works_2_path, class: 'splash__menu-section-menu-item' do
              How Works 2

        .splash__menu-section-type
          Quotes
        .row
          .col-sm-3
          .col-sm-3

        .splash__menu-section-type
          Footers
        .row
          .col-sm-3
          .col-sm-3

        .splash__menu-section-type
          Data Sections
        .row
          .col-sm-3
          .col-sm-3

        .splash__menu-section-type
          Concept Sections
        .row
          .col-sm-3
          .col-sm-3

        .splash__menu-section-type
          Auth Screens
        .row
          .col-sm-3
            =link_to auth_1_path, class: 'splash__menu-section-menu-item' do
              Auth 1 (CodeInPerson)
          .col-sm-3
            =link_to auth_2_path, class: 'splash__menu-section-menu-item' do
              Auth 2 (Goldbely)
