/ Repo for finalized landing page components

/ Possible Block options:
/ splash
/ stack
/ section
/ quote
/ header
/ footer
/ auth
/ onboarding
/ asset

.splash-gradient


.splash-carousel

.splash-fixed-medium
.splash-fixed-big
.splash-fixed-small
.splash-gif
.splash-screenshot 
.splash-img-blurred
.splash-landscape
.splash-city


/ geometric backgrounds:
/ network
/ triangles
/ repeating gradients?
/ tight icon collage
/ spaced icon collage
/ movement, cycling
/ could just be jutting out from the side, not a full repeat... cool effect (gigster)

/ SPLASH
/ splash container can have fixed height, or no defined height and just height of containers on inside
/ splash 600px height (AirBmB)
/ splash with very light geometric texture 
/ splash 'how works' slide down
/ splash with wing
/ just list random awesome/ key shit all below the splash (or part of it)... dont worry about theme, just get the cool facts out fastgoftp
/ splash with static 1-2-3 & a smaller rotating slideshow (of icons?) to the right of it...(gigster)
/ main content on splash remains, background changes (paintzen, zen99)
/ splash always present collapse button, cool slideout always there
/ JS cycling text of key words
/ whole page... white classy but with 1-3 sections of the same gradient or color 
/ Bloomthat... input with left color stripe same color as go button... killer



/ splash inner content:
/ 

/ loading symbols... 

/compressing background image or stretch the image... ('retains aspect ratio'); bg images and aspect ratio


/ Header
/ transparent header with separator line that has gutters
/ header with dropdown menus on hover... airbnb arrow style (classes from flat-ui? or seamless block style)
/ header with color streak
/ header generously spaced links
/ double decker header
/ search bar that automatically pulls down commonly searched stuff
/ Memsql, merging concept of header and splash page
/ have a cool branding image in drop down (upsight)... really making the drop down it's own little mini feature!
/ Idea of keepin signup/signin distinct in design as rest of header
/ Captricity with the little flourish & double decker header...
/ Links as complementary colors...
/ Filepicker style... If have splash image/ graphic that takes up half, move links to other side


/ Sections
/ parallax image with company collage ("top talent" or whatever overlayed on it)
/ icon section that uses faded/blurred continuation of image from above section (caremessage)
/ section that's plain but has little color flourish in a couple placess (datarank)
/ conveyor belt cards that stop when hover (spinnakr), multiple levels 
/ using photos that are collage-like but intensely hued in certain colors for a color scheme (visual.ly --> awesome effect)
/ instead of screenshots, can use slick material cards that have screenshots on them (why need to imitate browser or device?)


/ Auth 
/ Cambly style with radically cool character


/ Littleboot notes
/ Separate landing page for programmers (talk about hosting classes, growing on the platform)
/ 


/ Overarching Themes
/ A color palette app (taasky)