.title_xl Reviews & Ratings
%p Customer have a chance to write a review and give ratings for an instructor. He or she will have 7 days after the bootcamp ends to do so.
%p If there is something in the review that appears unfairly disparaging, we will not post the review publicly until we've had a chance to consult with both parties about it.
%p
  Customers rate instructors on 4 criteria, on a scale of 1 to 5 stars:
  %ul
    %li Teaching Ability
    %li Value of Experience
    %li Satisfaction with Experience
    %li Overall Rating
%p Ratings are averaged and appear on your profile, and all posted reviews are publicly viewable as well.
%p
  Be sure to check out your
  =link_to "User Data Page", levels_path, class: 'bold_red'
  to learn about your reviews and ratings.

