-view_css :footer_abacus


.splash__footer
  .container
    .row
      .col-sm-2{ style: 'text-align: center;'}
        =image_tag "app-store-img.png", style: 'margin-bottom: 10px;'
        =image_tag "google-play-img.png"
      .col-sm-7
        .col-sm-3
          .splash__footer-grouping
            .splash__footer-grouping-title
              About
            .splash__footer-grouping-item
              Blog
            .splash__footer-grouping-item
              Jobs
            .splash__footer-grouping-item
              Press

        .col-sm-3
          .splash__footer-grouping
            .splash__footer-grouping-title
              Product
            .splash__footer-grouping-item
              Features
            .splash__footer-grouping-item
              Pricing
            .splash__footer-grouping-item
              Recruiting
        .col-sm-3
          .splash__footer-grouping
            .splash__footer-grouping-title
              Support & Policies
            .splash__footer-grouping-item
              Support
            .splash__footer-grouping-item
              Terms
            .splash__footer-grouping-item
              Privacy

        .col-sm-3
          .splash__footer-grouping
            .splash__footer-grouping-title
              Get in Touch
            .splash__footer-grouping-item
              @Richsterapp
            .splash__footer-grouping-item
              Facbeook
            .splash__footer-grouping-item
              Linkedin
            .splash__footer-grouping-item
              hi@richsterapp.com
      .col-sm-3
        .splash__footer-logo-txt
          @ RichApps Labs, Inc
