-view_css :footer_cozy

.splash__footer
  .row
    .col-sm-10.col-sm-offset-1
      .row.o-visible
        .col-sm-3
          .splash__footer-grouping
            .splash__footer-grouping-title
              Join Richapp
            .splash__footer-grouping-item
              Sign up as a Landlord
            .splash__footer-grouping-item
              Sign up as a Renter
            .splash__footer-grouping-item
              For Realtors
            .splash__footer-grouping-item
              Invite a Landlord
            .splash__footer-grouping-item
              Tenant Screening Tools
        .col-sm-3
          .splash__footer-grouping
            .splash__footer-grouping-title
              The Company
            .splash__footer-grouping-item
              About Richapp
            .splash__footer-grouping-item
              The Richapp Blog
            .splash__footer-grouping-item
              Press
            .splash__footer-grouping-item
              Jobs
            .splash__footer-grouping-item
              Contact Us
        .col-sm-3
          .splash__footer-grouping
            .splash__footer-grouping-title
              Help
            .splash__footer-grouping-item
              Contact Support
            .splash__footer-grouping-item
              Help Center
            .splash__footer-grouping-item
              Payment Process
        .col-sm-3
          .splash__footer-misc-section
            .splash__footer-misc-title
              The Richapp Newsletter
            .splash__footer-misc-subtitle
              Sign up and stay tuned
          .splash__footer-misc-section
            .splash__footer-misc-title
              Landlordology
            .splash__footer-misc-subtitle
              The best resources on landlords

  .splash__footer-social-and-privacy-section
    .splash__footer-social
      =iconf('twitter')
      =iconf('facebook')
      =iconf('linkedin')
      =iconf('instagram')
    .splash__footer-copyright
      © Copyright 2012-2016 Richapp Services Ltd. All Rights Reserved.
    .splash__footer-privacy
      Security & Privacy
      .splash__footer-seperator--small
      Terms of Use

  .splash__footer-disclaimer
    California Tenant Screening and Credit Checks  ·   New York Tenant Screening and Credit Checks  ·   Florida Tenant Screening and Credit Checks  ·   Texas Tenant Screening and Credit Checks  ·   Georgia Tenant Screening and Credit Checks  ·   South Carolina Tenant Screening and Credit Checks  ·   North Carolina Tenant Screening and Credit Checks  ·   Arizona Tenant Screening and Credit Checks  ·   Virginia Tenant Screening and Credit Checks  ·   Tennessee Tenant Screening and Credit Checks
