-view_css :footer_gigster

.splash__footer
  .container
    .row
      .col-sm-3
        .splash__footer-grouping
          .splash__footer-grouping-title
            Company
          .splash__footer-grouping-item
            who we are
          .splash__footer-grouping-item
            success stories
          .splash__footer-grouping-item
            how it works
          .splash__footer-grouping-item
            join us
          .splash__footer-grouping-item
            become a richster

      .col-sm-3
        .splash__footer-grouping
          .splash__footer-grouping-title
            Info
          .splash__footer-grouping-item
            FAQ
          .splash__footer-grouping-item
            Pricing
          .splash__footer-grouping-item
            Terms of use
          .splash__footer-grouping-item
            Privacy
      .col-sm-3
        .splash__footer-grouping
          .splash__footer-grouping-title
            Contact
          .splash__footer-grouping-item
            support@richster.com
          .splash__footer-grouping-item
            +1 (123) 888-Rich

      .col-sm-3
        .splash__footer-grouping
          .splash__footer-grouping-title
            Address
          .splash__footer-grouping-item
            Richster Inc.
          .splash__footer-grouping-item
            1330 Bush St.
          .splash__footer-grouping-item
            San Francisco, CA, 94109

    .row.margin-top-40px
      .col-sm-4
        .splash__footer-logo-txt
          Richster
      .col-sm-4.center
        .splash__footer-copyright
          @ 2016 Richster Inc.
      .col-sm-4.right
        .splash__footer-social-media-square
          =iconf('facebook')
        .splash__footer-social-media-square
          =iconf('twitter')
        .splash__footer-social-media-square
          =iconf('google')
