-view_css :footer_gocardless

.splash__footer
  .row
    .col-sm-5.col-sm-offset-1
      .row
        .col-sm-4
          .splash__footer-grouping
            .splash__footer-grouping-item
              GoRichAppless
            .splash__footer-grouping-item
              GoRichAppless Pro
            .splash__footer-grouping-item
              Patners
            .splash__footer-grouping-item
              Pricing
            .splash__footer-grouping-item
              Stories
            .splash__footer-grouping-item
              Guides
        .col-sm-4
          .splash__footer-grouping
            .splash__footer-grouping-item
              Support
            .splash__footer-grouping-item
              FAQ
            .splash__footer-grouping-item
              API
            .splash__footer-grouping-item
              Pro API
            .splash__footer-grouping-item
              Security
            .splash__footer-grouping-item
              Europe
        .col-sm-4
          .splash__footer-grouping
            .splash__footer-grouping-item
              Legal
            .splash__footer-grouping-item
              Blog
            .splash__footer-grouping-item
              About us
            .splash__foot-grouping-item
              Jobs
    .col-sm-6
      .row
        .col-sm-8.col-sm-offset-2
          .splash__footer-company-blurb
            GoCardless Ltd. 338-346 Goswell
            %br
            Road, London, EC1V 7LQ, United Kingdom.
            %br
            020 7183 8674, help@gocardless.com
          .splash__footer-company-blurb
            GoCardless is authorised by the Financial Conduct Authority under the Payment Services Regulations 2009, registration number 597190, for the provision of payment services.
          .splash__footer-company-blurb
            By continuing your visit to this site, you agree to the use of cookies. Learn more.
