-view_css :footer_invision

.splash__footer
  .row
    .col-sm-2
      .splash__footer-logo
        .splash__header-logo-txt
          %span R
          vision
      .splash__footer-copyright
        @ RVision 2016
      .splash__footer-get-in-touch
        Get in Touch
      .splash__footer-contact-us
        contact Us
      .splash__footer-social-media
        =iconf('twitter', nil, 'color: #55acee')
        =iconf('dribbble', nil, 'color: #ea4c89')
        =iconf('facebook', nil, 'color: #d34836')
        =iconf('google', nil, 'color: #44619f')
        =iconf('rss', nil, 'color: #ff8800')
    .col-sm-1
      .splash__footer-grouping
        .splash__footer-grouping-title
          Learn More
        .splash__footer-grouping-item
          Tour
        .splash__footer-grouping-item
          Customers
        .splash__footer-grouping-item
          Pricing and Plans
        .splash__footer-grouping-item
          New Features
        .splash__footer-grouping-item
          Education
    .col-sm-1
      .splash__footer-grouping
        .splash__footer-grouping-title
          About
        .splash__footer-grouping-item
          Company
        .splash__footer-grouping-item
          Media Kit
        .splash__footer-grouping-item
          Jobs
        .splash__footer-grouping-item
          Blog
    .col-sm-1
      .splash__footer-grouping
        .splash__footer-grouping-title
          Support
        .splash__footer-grouping-item
          Help Center
        .splash__footer-grouping-item
          Schedule a Demo
        .splash__footer-grouping-item
          Terms of Service
        .splash__footer-grouping-item
          Security
        .splash__footer-grouping-item
          Privacy Policy
    .col-sm-3
      .splash__footer-grouping
        .splash__footer-grouping-title
          Features
        .splash__footer-grouping-item
          Design Prototyping
        .splash__footer-grouping-item
          Design Sharing and Presentation
        .splash__footer-grouping-item
          Design Feedback and Commenting
        .splash__footer-grouping-item
          Real-Time Design Meetings and Whiteboarding
        .splash__footer-grouping-item
          Design Organization and Collaboration
        .splash__footer-grouping-item
          Project Management for Designers
        .splash__footer-grouping-item
          User Testing and Research
    .col-sm-3
      .splash__footer-grouping
        .splash__footer-grouping-title
          Uses
        .splash__footer-grouping-item
          Prototyping for Websites and Web Apps
        .splash__footer-grouping-item
          Prototyping for Mobile - iOS and Android
        .splash__footer-grouping-item
          Prototyping for Android Phones and Tablets
        .splash__footer-grouping-item
          Prototyping for Wearables - Apple Watch and Android Wear
        .splash__footer-grouping-item
          Sketch Prototyping
        .splash__footer-grouping-item
          Photoshop Prototyping
    .col-sm-1
      .splash__footer-grouping
        .splash__footer-grouping-title
          Extras
        .splash__footer-grouping-item
          Marketplace
        .splash__footer-grouping-item
          Design Disruptors
        .splash__footer-grouping-item
          RVision Sync (Mac)
        .splash__footer-grouping-item
          Free T-Shirt
