-view_css :footer_onelogin

.splash__footer
  .container
    .row
      .col-sm-12
        .row
          .col-sm-3
            .splash__footer-grouping
              .splash__footer-grouping-title
                Why RichApps
              .splash__footer-grouping-item
                who we are
              .splash__footer-grouping-item
                success stories
              .splash__footer-grouping-item
                how it works
              .splash__footer-grouping-item
                join us
              .splash__footer-grouping-item
                become a richster
              .splash__footer-grouping-item
                become a richster
          .col-sm-3
            .splash__footer-grouping
              .splash__footer-grouping-title
                Product
              .splash__footer-grouping-item
                who we are
              .splash__footer-grouping-item
                success stories
              .splash__footer-grouping-item
                how it works
              .splash__footer-grouping-item
                join us
              .splash__footer-grouping-item
                become a richster
              .splash__footer-grouping-item
                FAQ
              .splash__footer-grouping-item
                Pricing
              .splash__footer-grouping-item
                Terms of use
              .splash__footer-grouping-item
                Privacy
          .col-sm-3
            .splash__footer-grouping
              .splash__footer-grouping-title
                Company
              .splash__footer-grouping-item
                who we are
              .splash__footer-grouping-item
                success stories
              .splash__footer-grouping-item
                how it works
              .splash__footer-grouping-item
                join us
              .splash__footer-grouping-item
                become a richster
              .splash__footer-grouping-item
                FAQ
              .splash__footer-grouping-item
                Pricing
              .splash__footer-grouping-item
                Terms of use
              .splash__footer-grouping-item
                Privacy
              .splash__footer-grouping-item
                Other Thing
          .col-sm-3
            .splash__footer-grouping
              .splash__footer-grouping-title
                Resources
              .splash__footer-grouping-item
                who we are
              .splash__footer-grouping-item
                success stories
              .splash__footer-grouping-item
                how it works
              .splash__footer-grouping-item
                join us
              .splash__footer-grouping-item
                become a richster
              .splash__footer-grouping-item
                FAQ
              .splash__footer-grouping-item
                Pricing
              .splash__footer-grouping-item
                Terms of use
              .splash__footer-grouping-item
                Privacy
              .splash__footer-grouping-item
                Other Thing

    =image_tag "onelogin-logo.png", class: 'footer__bottom-seperator-logo'
    %hr.footer__bottom-seperator

    .row.footer__bottom_row{ style: 'width: 100% !important; overflow: visible !important;'}
      .col-sm-4
        .footer__bottom-row-copyright.left
          @ 2016 OneLogin, Inc. All rights reserved.
      .col-sm-4
        .footer__bottom-row-privacy.center
          Terms /// Privacy Policy /// Site Map
      .col-sm-4
        .footer__bottom-row-language.right
          EU /// USA
