-view_css :footer_preact

.splash__footer
  .row
    .col-sm-8.col-sm-offset-2
      .row.o-visible
        .col-sm-3
          .splash__footer-grouping
            .splash__footer-grouping-title
              Product
            .splash__footer-grouping-item
              Science
            .splash__footer-grouping-item
              Integrations
            .splash__footer-grouping-item
              Workflows
            .splash__footer-grouping-item
              Visibility
            .splash__footer-grouping-item
              Request Demo
            .splash__footer-grouping-item
              Start Free Trial
        .col-sm-3
          .splash__footer-grouping
            .splash__footer-grouping-title
              Company
            .splash__footer-grouping-item
              Press / News
            .splash__footer-grouping-item
              Contact
            .splash__footer-grouping-item
              Careers
            .splash__footer-grouping-item
              Developer API
            .splash__footer-grouping-item
              Support
            .splash__footer-grouping-item
              Sign In
        .col-sm-6.splash__footer-seperator-border.no-wrap
          .splash__footer-grouping
            .splash__footer-grouping-title
              Blog
            .splash__footer-grouping-item
              Join Richapp's Free Trial and Freemium Conversion Prediction Beta
            .splash__footer-grouping-item
              What Does This Creepy Clown Know About Free Trial Conversion?
            .splash__footer-grouping-item
              Fox vs. Hedgehog: How Conversion Marketers Think
            .splash__footer-grouping-item
              The Important QBR Prep You Aren't Doing
            .splash__footer-grouping-item
              The Definitive Customer Success Reading List
  .splash__footer-social-media-row
    =image_tag "preact-social-media-icons.png"
  .splash__footer-copyright-row
    Privacy
    .splash__footer-divider-small
    Terms of Service
    .splash__footer-copyright-row-copyright
      @ 2015 Richapp, Inc.
