-view_css :footer_tilt

.container.splash__footer
  .row
    .col-sm-3
      .splash__footer-grouping
        .splash__footer-grouping-title
          Help
        .splash__footer-grouping-item
          How It Works
        .splash__footer-grouping-item
          Why RichApp
        .splash__footer-grouping-item
          FAQs
        .splash__footer-grouping-item
          Fees
    .col-sm-3
      .splash__footer-grouping
        .splash__footer-grouping-title
          About Us
        .splash__footer-grouping-item
          Press
        .splash__footer-grouping-item
          Careers
        .splash__footer-grouping-item
          Global
    .col-sm-3
      .splash__footer-grouping
        .splash__footer-grouping-title
          Products
        .splash__footer-grouping-item
          Richapp Open
        .splash__footer-grouping-item
          Richapp iOS
        .splash__footer-grouping-item
          Richapp Android
        .splash__footer-grouping-item
          Richapp API
        .splash__footer-grouping-item
          Non-Profits
        .splash__footer-grouping-item
          Recent Richapps
    .col-sm-3
      .splash__footer-grouping
        .splash__footer-grouping-title
          Connect With Us
        .splash__footer-grouping-item
          Our Blog
        .splash__footer-grouping-item
          Facebook (img)
        .splash__footer-grouping-item
          Twitter (img)
        .splash__footer-grouping-item
          Email (img)
  .splash__footer-terms-privacy
    %ul
      %li
        =link_to "#", class: 'splash__footer-terms-privacy--btn' do
          Contact Us
      %li
        =link_to "#" do
          @ 2016 RichApp, Inc.
      %li
        =link_to "#" do
          Terms of Use
      %li
        =link_to "#" do
          Privacy Policy
      %li
        =link_to "#" do
          Security
