-view_css :footer_transferwise

.splash__footer
  .container
    .row
      .col-sm-3.col-sm-offset-1
        .splash__footer-grouping
          .splash__footer-grouping-title
            Company & Team
          .splash__footer-grouping-item
            Company & Team
          .splash__footer-grouping-item
            News & Blog
          .splash__footer-grouping-item
            Press
          .splash__footer-grouping-item
            Career
          .splash__footer-grouping-item
            Affiliates & Partnerships
      .col-sm-3
        .splash__footer-grouping
          .splash__footer-grouping-title
            Help & Support
          .splash__footer-grouping-item
            Getting started
          .splash__footer-grouping-item
            Pricing
          .splash__footer-grouping-item
            Supported currencies
          .splash__footer-grouping-item
            Best Price Guarantee
          .splash__footer-grouping-item
            FAQ
          .splash__footer-grouping-item
            SWIFT/BIC codes
      .col-sm-3
        .splash__footer-grouping
          .splash__footer-grouping-title
            Contact
          .splash__footer-grouping-item
            support@richardappwise.com
          .splash__footer-grouping-item
            US: +1 888 908 3833
          .splash__footer-grouping-item
            UK: +44 (0) 203 6950 999
          .splash__footer-grouping-item
            DE: +49 3022 403 02 08
          .splash__footer-grouping-item
            AU: +61 28 0466 244
          .splash__footer-grouping-item
            %b MORE WAYS
      .col-sm-2
        .splash__footer-grouping
          .splash__footer-grouping-title
            Follow Us
          .splash__footer-grouping-item
            =iconf('twitter')
            =iconf('facebook')
            =iconf('google')
    .row
      .splash__footer-small-txt-section
        .splash__footer-small-txt-blurb
          © RichappWise Ltd 2015
          =link_to "#" do
            Terms of use
          =link_to "#" do
            Privacy policy
          =link_to "#" do
            Cookie policy
        .splash__footer-small-txt-blurb
          The RichappWise program in the United States is sponsored by Community Federal Savings Bank, to which RichappWise is a service provider.
        .splash__footer-small-txt-blurb
          TransferWise is a registered money service business. Her Majesty's Revenue and Customs certificate number 12591871.
          %br
          We are authorised by the UK Financial Conduct Authority (FCA) as a payments institution with reference 571669.
