.title_xl What/ Why?

%p This exists because most of us forget birthdays or we wait until way too late in the day like 8pm.
%p Sometimes you don't log into Facebook until evening, sometimes you don't have Facebook, or sometimes your friend/ family memember/ coworker isn't on Facebook.
%p Be that person who never forgets birthdays - you'll be that person who everyone loves, while the others slowly fade as the years go by.
