.title_xl Payments & Security
%p
  Currently we utilize
  =link_to "Stripe", "http://stripe.com", target: '_blank'
  for payments. Payment data never touches our servers.
%p You can purchase 5 bday alerts for $3/ year from your dashboard.
%p That comes out to less than a penny per day
%p If you wish to pay with Bitcoin, you will need to give us a BTC address in the event of a refund.
