.title_xl The Text Alerts
%p BirthdayTextAlerts is based on SMS text messaging
%p
  If you haven't already, make sure you've inputed your number and timezone on
  =link_to "your dashboard page", bdays_path
%p You will be sent a text message to the indicated number on the indicated day for the birthday alert, reminding you to wish the name you inputed a happy birthday.
%p For $3/year you get five alerts: that means you can be reminded about the birthdays of 5 different people, and sent five different texts per year.
%p You can always add more remindres, at the same $3/ year rate.
