-bookable_asset_name = @conversation.bookable_asset.name
%p="Hi #{@conversation.bookable_asset.user.profile.first_name},"

%p
  You've received an inquiry message from
  =@conversation.guest_name
  about your bookable_asset
  =link_to bookable_asset_name, user_bookable_asset_url(@conversation.bookable_asset.user, @conversation.bookable_asset), target: '_blank'

%p
  ="#{@conversation.first_name} says:"
  =@message.message

%p
  If you don't want to login, click the link below and you can view the whole thread and respond there:
  %br
  =link_to "Your conversation with #{@conversation.first_name}", conversation_url(@conversation, euid: @conversation.euid), target: '_blank'

%p
  Otherwise please login to respond.

%p
  Best,
  %br
  Monkey Team
