.title_xl General Info

%i To keep it simple, there are two groups on our platform, "customers" and "providers"

.title_small Who is Boilerplate For?
%p Boilerplate has the broad vision of encouraging people to meet out in the world, in person, for romance or friendship, without any sort of online basis or foundation to the relationship. It's not just that people are often very different from the online profiles they cultivate, but we believe meeting in person keeps things at an organic, exciting level that often gets lost when you meet people through online tools.