-view_css :auth_2
-view_js :auth_2

.auth__container

  .auth__container-modal-toggle.btn-tv{ 'data-toggle' => 'modal', 'data-target' => '#signup-modal'}
    Sign up Modal Trigger

=BootstrapHelper::Modal.new('signup-modal') do |modal|
  =modal.body do
    .auth__signup-close{ onclick: "$('#signup-modal').modal('hide')"}
      =iconf('close')
    .auth__signup-title
      Sign up for Richapp
    .auth__signup-subtitle
      Get instant access to the best handmade eats in every city in every state across the land, shipped directly to you.
    .auth__signup-action-container
      .auth__signup-form
        =form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .auth__signup-form-field-set
            .auth__signup-form-label
              Email Address
            .auth__signup-form-field
              =iconf('user')
              =f.text_field :email
          .auth__signup-form-field-set
            .auth__signup-form-label
              Choose a password
            .auth__signup-form-field
              =iconf('lock')
              =f.password_field :password, autocomplete: "off"
          .auth__signup-submit-btn.gb-btn--big{ onclick: "$(this).closest('form').submit()"}
            Sign up
      .auth__signup-or-divider-wrapper
        .auth__signup-or-divider
          Or
      .auth__signup-fb-cta-btn.gb-btn--big--blue
        =iconf('facebook')
        Sign up with Facebook
      .auth__signup-login-cta
        Already a member?
        =link_to "Log in", "#"
