-view_css :how_works_1

.splash-how-works__container
  .splash-how-works__title
    How it Works
  .row
    .col-sm-6.splash-how-works__half-container--left
      .splash-how-works__icon-text-set
        =image_tag "splash-num1.png", class: 'splash-how-works__icon-text-set-number'
        .splash-how-works__icon-text-set-icon--container
          =image_tag "how-works-profile.png", class:'splash-how-works__icon-text-set-icon padding-top-30px'
        .splash-how-works__icon-text-set-text
          Browse local socialites' profiles and outings
      .splash-how-works__divider.hidden-xs.hidden-sm
      .splash-how-works__icon-text-set
        =image_tag "splash-num2.png", class: 'splash-how-works__icon-text-set-number'
        .splash-how-works__icon-text-set-icon--container
          =image_tag "how-works-book.png", class:'splash-how-works__icon-text-set-icon'
        .splash-how-works__icon-text-set-text
          Book an outing, we place an authorization.
    .col-sm-6.splash-how-works__half-container--right
      .splash-how-works__icon-text-set
        =image_tag "splash-num3.png", class: 'splash-how-works__icon-text-set-number'
        .splash-how-works__icon-text-set-icon--container
          =image_tag "how-works-meetup.png", class:'splash-how-works__icon-text-set-icon'
        .splash-how-works__icon-text-set-text
          Then go meetup with your socialite
      .splash-how-works__divider.hidden-xs.hidden-sm
      .splash-how-works__icon-text-set
        =image_tag "splash-num4.png", class: 'splash-how-works__icon-text-set-number'
        .splash-how-works__icon-text-set-icon--container
          =image_tag "how-works-goals.png", class:'splash-how-works__icon-text-set-icon'
        .splash-how-works__icon-text-set-text
          Chat up people. Find what you're looking for.
