.title_xl Payouts

%p
  The price you set on your bootcamp is the amount you will receive in full.

%p
  Right now, payouts are done via PayPal. You will be prompted to give us your PayPal email automatically when you are creating your profile and bootcamps, but you can add it anytime you want. To add your PayPal email, do so on your main
  =link_to "Accounts Page.", edit_user_path(current_user)

%p
  For any level less than
  %span.bold_red Trusted Level
  payments take place in two halves. You receive the first half at the midway point of the bootcamp, and the second half at the end of the bootcamp. To learn more about levels be sure to take a look at your
  =link_to "Levels Page.", levels_path

%p You can still accept bookings without giving us payment information, and we will hold onto your earnings until you do. Once you give us your Paypal email, we will immediately send you your earnings.

%p
  Payouts via Bitcoin are in the works.