.title_xl Acceptance on our Platform
%p For participants, each provider gives a set of criteria for who they are targeting for their bootcamps. If you are interested in booking, make sure not to skim over this part of the instructor's bootcamp page.
%p For providers, all developers or designers must have at least 3 years of professional development experience. There are no shortcuts here, and recent degrees do not compensate for this requirement. When applying to be on our platform, we review all information about providers, including LinkedIn pages and portfolio sites.
%p
  We have strong feelings against misrepresentation, so if you believe your instructor has grossly misrepresented his abilities or background,
  =link_to "initiate a dispute", disputes_resolutions_path
  as this is a sufficient condition for a full refund.

