.splash__menu-section
  .splash__menu-section-heading
    .splash__menu-section-title
      The Templates, for You
    .splash__menu-section-subtitle
      Preview and Work on Templates here

  .splash__menu-section-menu-items
    .row
      .col-sm-10.col-sm-offset-1
        .splash__menu-section-type
          Summary Cards - All Sorts
        .row
          .col-sm-3
            =link_to summary_cards_1_path, class: 'splash__menu-section-menu-item' do
              Summary Cards 1 (TravelDating)
          .col-sm-3
            =link_to summary_cards_2_path, class: 'splash__menu-section-menu-item' do
              Summary Cards 2 (CodeInPerson)
          .col-sm-3
            =link_to summary_cards_3_path, class: 'splash__menu-section-menu-item' do
              Summary Cards 3 (Sprig/ Craftsmansave)
          .col-sm-3
            =link_to summary_cards_4_path, class: 'splash__menu-section-menu-item' do
              Summary Cards 4 (Kickstarter)
        .row
          .col-sm-3
            =link_to summary_cards_5_path, class: 'splash__menu-section-menu-item' do
              Summary Cards 5 (TradingView)

        .splash__menu-section-type
          Splash Page Cards - Profile/ Product/ Course/ Form etc.
        .row
          .col-sm-3
            =link_to splash_page_cards_1_path, class: 'splash__menu-section-menu-item' do
              Splash Page Cards 1 (V1 Basic)

        .splash__menu-section-type
          Splash Page Cards - Profile/ Product/ Course/ Form etc.
        .row
          .col-sm-3
            =link_to splash_page_full_1_path, class: 'splash__menu-section-menu-item' do
              Splash Page Full 1 (Kickstarter)
          .col-sm-3
            =link_to splash_page_full_2_path, class: 'splash__menu-section-menu-item' do
              Splash Page Full  2 (Buildzoom)
          .col-sm-3
            =link_to splash_page_full_3_path, class: 'splash__menu-section-menu-item' do
              Travelflings basic (photo viewer)
          .col-sm-3
            =link_to splash_page_full_1_path, class: 'splash__menu-section-menu-item' do
              ?? Splash Page Full 4 (Something put on map... deskshare.net)
        .row
          .col-sm-3
            =link_to splash_page_full_1_path, class: 'splash__menu-section-menu-item' do
              Splash Page Full 5 (Udacity?)
