.title_xl Payments & Security
%p Currently we utilize both Stripe and Paypal for payments.
%p Payment data never touches our servers.
%p If paying with Paypal, you will be redirected to Paypal's site where you can make a payment. We will send you a confirmation by email, but you may want to wait until you are redirected back to view your confirmation page.
%p We will accept Bitcoin soon. If you wish to pay with Bitcoin, you will need to give us your own address in the event of a refund.