=form_for booking, url: create_refund_tibetan_sherpa_access_booking_path(booking), html: {method: :post} do |f|
 =label_tag :issue_description, "Issue Description"
 =text_area_tag :issue_description

 =label_tag :amount_cents, "Amount in Cents for Refund"
 =text_field_tag :amount_cents

 =f.submit "Create Refund"c