.title_xl Your Obligations
%p You are required to confirm a booking if you want to accept it. You have a window of time to confirm it before it expires (read more below under "Confirmation & Auto-Cancellation").
%p You are required to stay at the meetup location for at least 1 hour if the customer does not show.
%p="If you are running more than 20 minutes late, please contact us ASAP <a href='mailto:support@monkey.com' target='_blank'>(support@monkey.com) </a>and we will notify the customer. We figure lateness should be rare on your part, since you chose the locations and should know how to get there easily, parking situations, etc.".html_safe
%p After a paid booking, the customer will have a means of contacting you directly, based on the contact method you elect in your profile. This is to help resolve last minute logistics issues.
%p Please keep your schedule up to date. It's OK if you have one-off conflicts, e.g. appointment, date, weekend trip... you can always reject the booking and suggest an alternate time to the customer... but if you'll be gone for the next 3 weeks, you may want to put your account on hiatus (on your "Accounts" page).