.title_xl Profiles
%p Provider profiles are subject to approval from the Monkey team. We are mainly looking out for obscenity or hateful speech. Pornographic or distasteful profile pictures are not allowed either.
%p If there is an issue, we will alert you of it by email and you can submit a fix.
%p Again, no obscenity or hateful speech is tolerated in the profiles, and could result in a banning from our platform.
%p You are asked to provide contact info, either an email of your choice or a phone number, in case the customer has logistics issues and needs to contact you quickly. This information will only be shown after the customer has paid for a booking.
%p You should provide minimal instructions to the customer, even if just "have fun!". You may want them to have eaten first, or to dress a certain way. These instructions will only be shown after the customer has paid for a booking.