.fourtn no reviews yet
.reviews-ratings.faded-half
  .category-rating
    Teaching Ability
    =num_to_stars(5)
  .category-rating
    Value of Material
    =num_to_stars(5)
  .category-rating
    Satisfaction
    =num_to_stars(5)
  .overall
    Overall Rating
    =num_to_stars(5)