#use_cases
  %a{ href: '#'}
    %p
      %span New App?
      %span Plan to make it good?
      %span Want to build it quickly?
      %span Want your own boilerplate?
      %span Well maybe look no further?
      %span Auth, Profiles, Accounts, Stripe & Paypal, more.
      %span.downarrow=iconf('chevron-circle-up')
      %a.submit_button_secondary{ href: new_order_path, style: 'text-decoration:none; margin-top: 30px'}
        %span See Checkout/ Payments Flow





