.header-transparent-set-sm--padded
  .header-transparent-set-sm__logo.pull-left
    BOILERPLATE
  .header-transparent-set-sm__link-set.pull-right
    %ul
      %li.condensed-capitalized.color-streak-bottom 
        =link_to "View Assets", "#"                       
      %li.condensed-capitalized.color-streak-bottom 
        =link_to "Universal Fund", "#"
      %li.condensed-capitalized.color-streak-bottom 
        =link_to "Sign Up", "#"
      %li.condensed-capitalized.color-streak-bottom 
        =link_to "Log In", "#"
 