.header-opaque-streak-with-hover
  .header-opaque-streak-with-hover__logo.pull-left
    BOILERPLATE
  .header-opaque-streak-with-hover__link_set
    %ul
      %li
        =link_to "View Assets", "#"                       
      %li
        =link_to "Universal Fund", "#"
      %li
        =link_to "Sign Up", "#"
      %li
        =link_to "Log In", "#"