!!!
%html
  %head
    =page_title

    //add meta tag logic
    =csrf_meta_tags

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{ href: "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel: "stylesheet" }


    %link{:href => "http://fonts.googleapis.com/css?family=Fascinate|Source+Sans+Pro|Dosis|Abel|Noto+Sans|Droid+Sans|Arvo|Cabin|New+Rocker|Lora|PT+Sans|PT+Sans+Narrow|Arimo|Oleo+Script|Ubuntu|Montserrat+Alternates|Bitter|PT+Serif|Lobster|Shadows+Into+Light|Rokkitt|Libre+Baskerville|Ubuntu+Condensed|Droid+Serif|Open+Sans|Roboto|Oswald|Open+Sans+Condensed:300|Roboto+Condensed|Montserrat|Raleway|Yanone+Kaffeesatz|Oxygen|Merriweather|Varela+Round|Francois+One|Roboto+Slab|Titillium+Web|Play|Nunito|Fjalla+One|Inconsolata|Indie+Flower|Pacifico|Hammersmith+One|Righteous|Black+Ops+One|Audiowide|Luckiest+Guy|Lobster+Two|Comfortaa|Orbitron|Carme|Allerta+Stencil|Keania+One|Alike|Rye|Sancreek|Megrim|Fruktur", :rel => "stylesheet", :type => "text/css"}

    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    /[if lt IE 9]
      <script data-turbolinks-eval="false" src="/assets/ie/html5shiv.js" type="text/javascript"></script>
      <script data-turbolinks-eval="false" src="/assets/ie/respond.min.js" type="text/javascript"></script>

    =google_analytics

  %body
    #wrap
      =render "layouts/header"
      .container
        .row
          .col-sm-3
            .policies_sidebar
              -if current_user
                .row
                  .col-sm-12
                    =link_to "General", provider_policies_path
                .row
                  .col-sm-12
                    =link_to "Your Obligations as a Provider", provider_obligations_path
                .row
                  .col-sm-12
                    =link_to "Payouts", provider_payouts_path
                .row
                  .col-sm-12
                    =link_to "Profile Guidelines", provider_profile_guidelines_path
                .row
                  .col-sm-12
                    =link_to "Levels Information", provider_levels_path
                .row
                  .col-sm-12
                    =link_to "Reviews & Ratings", provider_reviews_ratings_path
                .row
                  .col-sm-12
                    =link_to "Booking Auto Cancellations", provider_auto_cancellations_path
                .row
                  .col-sm-12
                    =link_to "Bootcamp Logistics", provider_bootcamp_logistics_path
                .row
                  .col-sm-12
                    =link_to "Search Visibility", provider_search_visibility_path

              -unless current_user
                .row
                  .col-sm-12
                    =link_to "General", policies_path
              .row
                .col-sm-12
                  =link_to "Payments", payments_path
              .row
                .col-sm-12
                  =link_to "Cancellations & Refunds", cancellations_refunds_path
              .row
                .col-sm-12
                  =link_to "Disputes & Resolutions", disputes_resolutions_path
              .row
                .col-sm-12
                  =link_to "Acceptance on our Platform", acceptance_path
              .row
                .col-sm-12
                  =link_to "Invite Participants Directly", invite_participants_path
              -unless current_user
                .row
                  .col-sm-12
                    =link_to "Bootcamp Logistics", logistics_path
                .row
                  .col-sm-12
                    =link_to "Reviews", reviews_policy_path

          .col-sm-9
            .policies_main
              =yield

              #booking_issues
                %h5 Need Bootcamp Help?
                -unless current_user
                  %p You've been supplied with a link and an email with pertinent details about your bootcamp. Also, following a booking, you should have the personal contact information of your instructor and been introduced by us.
                %p
                  For support, email us at
                  =link_to "support@monkey.com", "mailto:support@monkey.com", target: '_blank'
                  and we'll get in touch as soon as we can


    =render "layouts/footer_welcome"

    =include_view_js
