.title_xl Inviting Participants

%p On your bootcamp listing on your dashboard, there is a public link for your bootcamp. You can send this to anyone you think might want to join your bootcamp.

%p Note, this public link appears only after you have published your bootcamp.