-view_css :screenshot_gradient_1

.splash-screenshot-gradient__container

  =render "headers/standard"

  .splash__cta-container--center-top
    .splash__cta-heading
      RENT YOUR NEIGHBOR'S DOG

  .splash-screenshot__screenshot-container
    =image_tag "welcome/browserbackdrop.png", class: "splash-screenshot__browser"
