.title_xl Cancellations & Refunds
%p If the provider cancels for any reason, the customer receives a full refund including any fees.
%p In case of any disputes or issues arising during the outing, we have a resolution procedure that may entitle the customer to a partial or full refund.
%p OfflineDating has measures in place to help prevent last minute logistics issues and handle lateness. Providers are also required to remain at the meetup location for at least an hour. Of course, lateness on the part of the provider means a partial refund for the customer.
%p A customer can cancel up to 48 hours before a booking to receive a half refund.
%p If the customer paid with Bitcoin, the customer will need to provide a BTC address to receive the refund.

%p Depending on your payment method, refunds may take up to 5 business days to be issued. Both parties will be alerted via email throughout the process.