#color_palette_md
  %h1 Color Palette From Material Design Page
  %p=link_to "http://www.google.com/design/spec/style/color.html#color-color-palette", "http://www.google.com/design/spec/style/color.html#color-color-palette"

  %h3 Primary Colors
  .row
    .col-xs-3
      =set_color("#F44336", "$mdRed")
    .col-xs-3
      =set_color("#E91E63", "$mdPink")
    .col-xs-3
      =set_color("#9C27B0", "$mdPurple")
    .col-xs-3
      =set_color("#673AB7", "$mdDeepPurple")
  .row
    .col-xs-3
      =set_color("#3F51B5", "$mdIndigo")
    .col-xs-3
      =set_color("#2196F3", "$mdBlue")
    .col-xs-3
      =set_color("#03A9F4", "$mdLightBlue")
    .col-xs-3
      =set_color("#00BCD4", "$mdCyan")
  .row
    .col-xs-3
      =set_color("#009688", "$mdTeal")
    .col-xs-3
      =set_color("#4CAF50", "$mdGreen")
    .col-xs-3
      =set_color("#8BC34A", "$mdLigthGreen")
    .col-xs-3
      =set_color("#CDDC39", "$mdLime")
  .row
    .col-xs-3
      =set_color("#FFEB3B", "$mdYellow")
    .col-xs-3
      =set_color("#FFC107", "$mdAmber")
    .col-xs-3
      =set_color("#FF9800", "$mdOrange")
    .col-xs-3
      =set_color("#FF5722", "$mdDeepOrange")
  .row
    .col-xs-3
      =set_color("#795548", "$mdBrown")
    .col-xs-3
      =set_color("#9E9E9E", "$mdGrey")
    .col-xs-3
      =set_color("#607D8B", "$mdBlueGrey")
