%footer
  .container.text-center
    .row
      .col-md-6
        -#&copy; Copyright 2014 Charming Drones
      .col-md-6
        / %a{:href => "http://twitter.com/CharmingDrones", target: "_blank"}
        /   %i.fa.fa-fw.fa-2x.fa-twitter-square
        / %a{:href => "https://www.facebook.com/pages/Charming-Drones/641988999233609", target: "_blank"}
        /   %i.fa.fa-2x.fa-fw.fa-facebook-square
        %a.pull-right{:href => "mailto:support@offlinedating.io", target: "_blank", style: 'margin-top:-3px'}
          %i.fa.fa-fw.fa-1x.fa-envelope{ style: 'margin:-3px -2px 0px 0px'}
          Talk to us