.row
  .col-sm-12
    %h3.title Bootcamps
    =link_to 'Create a Bootcamp', new_user_bootcamp_path(current_user)
.row
  .col-sm-12
    .title_small Upcoming Bootcamps
  .col-sm-12
    .title_small Live Bootcamps

