-profile = current_user.profile.decorate rescue nil
-if current_user_has_image_no_profile?
  -profile = current_user.build_profile.decorate
#dashboard
  .profile
    .row
      .col-sm-12
        -if profile
          -if current_user_has_image_no_profile?
            .row
              %div.col-sm-12
                %span{ class: 'title'} Your Profile
                =link_to_if profile.editable?, 'Edit Profile', new_or_edit_link_for_profile, class: 'profile_edit'
          .row
            .col-sm-12
              =render "profiles/picture_and_meta", profile: profile
            %div
              -if profile.publicly_searchable?
                =render "profiles/level_badge", profile: profile
              -else
                =render "profiles/steps_left", profile: profile
        -else
          .row
            .col-sm-12
              =render "profiles/first_visit"
            %div
              =render "profiles/steps_left_first_visit"

    -if profile && !current_user_has_image_no_profile?
      .row
        .col-sm-12
          =render "profiles/the_basics", profile: profile

  -if (profile && profile.profile_info_complete?)
    #bootcamps
      .row
        .col-sm-12
          =render 'bookable_assets/bookable_assets_summary_profile'
