.title_xl Disputes & Resolution
%p In case of any disputes or issues arising during the outing, the customer may initiate a dispute within 3 days after the booking ends. The dispute and/ or potential refund cannot take place after the 3 days.
%p Both parties will be talked with, and we will work out an agreement that's fair and in accord with our policies.
%p Gross misrepresentation of the outing or provider is something we are strongly against, and can entitle the customer to a partial or even full refund, and possible banning of the provider.
%p="Shoot us an email at <a href='mailto:support@monkey.com', target='_blank'> support@monkey.com</a> and we will get the ball rolling.".html_safe