-customer_view = opts[:customer_view] rescue nil
.the_basics
  .row
    .col-sm-3
      .subtitle
        =iconf('dollar')
        Rate
    .col-sm-9{ style: 'margin-top:5px'}
      %p Filler
  .row.margin-top-20px
    .col-sm-3
      .subtitle
        =iconf('graduation-cap')
        Experience
    .col-sm-9
      %p Sample
  .row.margin-top-20px
    .col-sm-3
      .subtitle
        =iconf('glass')
        Outing
    .col-sm-9
      %p Filler
  .row.margin-top-20px
    .col-sm-3
      .subtitle
        =iconf('group')
        Sample
    .col-sm-9
      %p Filler
